chardet==3.0.4
clusterone<1.5
contextlib2==0.5.5
gitdb2==2.0.3
GitPython==2.1.9
idna==2.6
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.0
py==1.5.3
six==1.11.0
smmap2==2.0.3
uritemplate==3.0.0
urllib3==1.22
